<h1>Add A New Vehicle</h1>

<% if @vehicle.errors.any? %>
    <h2>
      <%= pluralize(@vehicle.errors.count, "error") %>
      prohibited this vehicle from being saved:
    </h2>
 
    <ul>
    <% @vehicle.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= render 'form', vehicle: @vehicle %>